html, body {
  background: #ddd;
  margin: 0;
}
.grid {
  margin: 50px;
  padding: 5px;
  max-width: 260px;
  font-size: 0px;
  background-color: #000;
}
.black-square {
  display: inline-block;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: #444;
}
.green-square {
  z-index: 1;
  position: relative;
  top: 25px;
  left: 25px;
  display: inline-block;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: #6DB65B;
}